# Tavily Search
TAVILY_API_KEY=

# Gemini
GOOGLE_API_KEY=

# Notion MCP Integration Token
NOTION_TOKEN=

# Google Drive MCP (Local path)
GDRIVE_MCP_SERVER_PATH=./gdrive-mcp-server
GDRIVE_OAUTH_KEYS_PATH=./gdrive-mcp-server/credentials/gcp-oauth.keys.json
GDRIVE_CREDENTIALS_PATH=./gdrive-mcp-server/credentials/.gdrive-server-credentials.json
